provider "aws" {
  region = "{{ region }}"
}

resource "aws_vpc" "main" {
  cidr_block = "{{ vpc_cidr }}"
  tags = {
    Name = "{{ project_name }}-vpc"
  }
}

resource "aws_s3_bucket" "data" {
  bucket = "{{ project_name }}-data-bucket"
  force_destroy = true
}

resource "aws_s3_bucket_public_access_block" "data_block" {
  bucket = aws_s3_bucket.data.id

  block_public_acls       = true
  block_public_policy     = true
  ignore_public_acls      = true
  restrict_public_buckets = true
}
